<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.work35_md5"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.safe.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.safe.MD5Activity"
            android:label="@string/title_activity_md5" >
        </activity>
        <activity
            android:name="com.example.safe.AesActivity"
            android:label="@string/title_activity_aes" >
        </activity>
        <activity
            android:name="com.example.safe.RsaActivity"
            android:label="@string/title_activity_rsa" >
        </activity>
    </application>

</manifest>